[Unit]
Description=Pi Manager

[Service]
WorkingDirectory=/home/ashley/piman
ExecStart=/home/ashley/piman/piman.sh
Restart=always

[Install]
WantedBy=default.target
