<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>UI Config Web App: hosts.csv</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      var addPi = function() {
        $("#inputboxes").append(
          "<li>" +
            "<label>MAC address</label>" +
            "<input type='text' " +
            "value='" +
            "'" +
            " name='inputsMac'>" +
            "<label>IP address</label>" +
            "<input type='text' " +
            "value='" +
            "'" +
            " name='inputsIp'>" +
            "<label>Name</label>" +
            "<input type='text' " +
            "value='" +
            "'" +
            " name='inputsName'>" +
            "<label>Last Used</label>" +
            "<input type='text' " +
            "value='" +
            "'" +
            " name='inputsTimestamp'>" +
            "</li>"
        );
      };
      var grabDataFirstTime = function() {
        $.ajax({
          type: "GET",
          url: "/get_hosts_csv"
        })
          .done(function(content) {
            $("#inputboxes").append(
              "<input type='button' style='margin:10px;' value='Add Pi' onclick='addPi()' />"
            );
            $("#inputboxes").append("<input type='submit' value='Apply Changes'/>");
            $("#labels").append(
              "<li style='text-decoration: underline; margin-top:53px'>In file:</li>"
            );
            $("#inputboxes").append(
              "<li style='text-decoration: underline;'>Inputs:</li>"
            );
            for (index = 0; index < content.length; index++) {
              var tempLine = content[index].split(";");
              $("#labels ").append(
                "<li style='padding-bottom:6px'>" + content[index] + "</li>"
              );
              $("#inputboxes").append(
                "<li>" +
                  "<label>MAC address</label>" +
                  "<input type='text' " +
                  "value='" +
                  tempLine[0] +
                  "'" +
                  " name='inputsMac'>" +
                  "<label>IP address</label>" +
                  "<input type='text' " +
                  "value='" +
                  tempLine[1] +
                  "'" +
                  " name='inputsIp'>" +
                  "<label>Name</label>" +
                  "<input type='text' " +
                  "value='" +
                  tempLine[2] +
                  "'" +
                  " name='inputsName'>" +
                  "<label>Last Used</label>" +
                  "<input type='text' " +
                  "value='" +
                  tempLine[3] +
                  "'" +
                  " name='inputsTimestamp'>" +
                  "</li>"
              );
            }
          })
          .fail(function(error) {
            clearInterval(intervalId);
          });
      };
      var grabData = function() {
        $.ajax({
          type: "GET",
          url: "/get_hosts_csv"
        })
          .done(function(content) {
            document.getElementById("labels").innerHTML = "";
            $("#labels").append(
              "<li style='text-decoration: underline; margin-top:53px'>In file:</li>"
            );
            for (index = 0; index < content.length; index++) {
              $("#labels").append(
                "<li style='padding-bottom:6px'>" + content[index] + "</li>"
              );
            }
          })
          .fail(function(error) {
            clearInterval(intervalId);
          });
      };
      grabDataFirstTime();
      var intervalId = setInterval(grabData, 1000 * 5);
    </script>
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Raleway", sans-serif;
    }

    body,
    html {
      background-color: #080808;
      height: 100%;
      line-height: 1.8;
    }

    body {
      padding-top: 60px; /*50px for the height of the navbar + 37px for the offset*/
    }

    /* Full height image header */
    .bgimg-1 {
      background-position: center;
      background-size: cover;
      background-image: url("https://www.vehiclehi.com/thumbnails/detail/20180507/5aeff98fa6594.jpg");
      min-height: 100%;
    }

    .w3-bar .w3-button {
      padding: 16px;
    }

    .column {
      float: left;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  </style>
  <body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="/" class="w3-bar-item w3-button w3-wide">Piman Config UI</a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">
          <a href="/config" class="w3-bar-item w3-button"
            ><i class="fa fa-gear"></i>CONFIG</a
          >
          <a href="/hosts-csv" class="w3-bar-item w3-button"
            ><i class="fa fa-gear"></i>HOSTS.CSV</a
          >
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a
          href="javascript:void(0)"
          class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
          onclick="w3_open()"
        >
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav
      class="w3-sidebar w3-right w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"
      style="display:none;"
      id="mySidebar"
    >
      <a
        href="javascript:void(0)"
        onclick="w3_close()"
        class="w3-bar-item w3-button w3-large w3-padding-16"
        >Close ×</a
      >
      <a href="/" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
      <a href="/config" onclick="w3_close()" class="w3-bar-item w3-button"
        >CONFIG</a
      >
      <a href="/hosts-csv" onclick="w3_close()" class="w3-bar-item w3-button"
        >HOSTS.CSV</a
      >
    </nav>
    <!-- Header with full-height image -->
    <header
      class="bgimg-1 w3-display-container w3-grayscale-min"
      id="home"
      style="background-color: black;"
    >
      <div class="w3-display-left w3-text-white" style="padding:48px;">
        <span class="w3-large">Hosts.csv settings</span>
        <br />
        <span class="w2-large">Remove text in textbox to delete entry.</span>
	<b>Restart PiMan after clicking 'Apply Changes' for new configuration to take effect.</b>
	<br>
        <div class="row">
          <div class="column">
            <ui style="list-style: none;">
              <form method="POST" id="inputboxes"></form>
            </ui>
          </div>
          <div class="column" style="padding-left: 20px">
            <ui style="list-style: none;" id="labels"> </ui>
          </div>
        </div>
      </div>
      <div
        class="w3-display-bottomleft w3-text-grey w3-large"
        style="padding:24px 48px"
      ></div>
    </header>

    <script>
      // Toggle between showing and hiding the sidebar when clicking the menu icon
      var mySidebar = document.getElementById("mySidebar");

      function w3_open() {
        if (mySidebar.style.display === "block") {
          mySidebar.style.display = "none";
        } else {
          mySidebar.style.display = "block";
        }
      }

      // Close the sidebar with the close button
      function w3_close() {
        mySidebar.style.display = "none";
      }
    </script>
  </body>
</html>
